# -------------------
# Python
# -------------------
venv/
__pycache__/
*.pyc

# -------------------
# secrets
# -------------------
.env
accounts.json

# -------------------
# logs
# -------------------
logs/

# -------------------
# runtime data
# -------------------
prices.db
cache_sku.json